.product-container{
    width: 300px;
    margin: 20px auto 20px auto;
}

.input-select-product-quantity{
    border: none;
    border-bottom: solid 1px lightgray;
    text-align: center;
    width: 40%;
    outline: none;
}

.button-shopping-cart{
    position: fixed;
    right: 20px;
    top: 150px;
    z-index: 1000;
}